<!DOCTYPE html>
<html ng-app="myapp"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"
      layout:decorator="layout">

<head>
    <title th:text="${username}">Blog</title>
</head>
<body>


<div layout:fragment="header">
    <div class="container">
        <div class="page-header">
            <h2 class="header"><strong>Blog</strong></h2>
        </div>
    </div>
</div>


<div layout:fragment="content">
    <ul class="nav nav-tabs">
        <li th:class="${blog1.id == blog.id} ? 'active':''" role="presentation" th:each="blog1 : ${blogs}">
            <a href="#" th:href="@{'/account/blog/'+${blog1.id}}" th:text="${blog1.title}">Home</a>
        </li>
    </ul>
    <div th:if="${blog} != null">
        <div th:each="item : ${blog.items}">
            <h1 th:text="${item.title}">title</h1>
            <p>Posted by <a href="#" th:text="${blog.title}">title</a> on
                <span th:text="${#dates.format(item.pubDate,'dd MMM yyyy HH:mm')}">September 24, 2014</span>
            </p>
            <h3 th:utext="${item.content}">Problems look mighty small from 150 miles up</h3>
            <hr>
        </div>
    </div>
    <div th:if="${blog} == null">
        <div class="alert alert-warning" role="alert">
            Add some subscrbe<a href="#" th:href="@{/account/subscribe}"> here</a>
        </div>
    </div>
</div>

<div layout:fragment="footer">
    <div class="container">
    <div id="disqus_thread" class="col-md-offset-2 col-md-8"></div>
    </div>
    <script>
        /**
         * RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
         * LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
         */
        /*
         var disqus_config = function () {
         this.page.url = PAGE_URL; // Replace PAGE_URL with your page's canonical URL variable
         this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
         };
         */
        (function () { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');

            s.src = '//chengp.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments
        powered by Disqus.</a>
    </noscript>
    <footer class="footer">
        <div class="container">
            <p class="text-muted">&copy; 2015 Cheng</p>
        </div>
    </footer>
</div>

</body>
</html>