<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">

<head>
    <title th:text="${username}">Account</title>
</head>
<body>
<div layout:fragment="header">
    <div class="container">
        <div class="page-header">
            <h2 class="header"><strong>User profile.</strong></h2>
        </div>
    </div>
</div>


<div layout:fragment="content">

</div>

<div layout:fragment="footer">


</div>

</body>
</html>