<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">

<head>
    <title>Index</title>
</head>
<body>

<div layout:fragment="header">
    <div id="video_container">
        <video id="bgvid" autoplay poster="#" loop muted>
            <source src="/video/Dota_2_Reborn.webm" type="video/webm"/>
        </video>

        <div class="jumbotron">
            <h1>Jumbotron heading</h1>
            <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Fusce dapibus, tellus ac cursus
                commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.</p>
            <p>
                <button type="button" id="sign_up" class="btn btn-info btn-lg" data-toggle="modal"
                        data-target="#myModal">
                    Sign up today
                </button>
            </p>
        </div>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Join today!</h4>
                    </div>
                    <div class="modal-body">
                        <form id="registerForm" class="form-horizontal" action="#" th:action="@{/account/register}" th:object="${user}"
                              method="post">
                            <div class="form-group">
                                <div class="col-sm-10 col-sm-offset-1">
                                    <input type="text" class="form-control" id="inputUsername" placeholder="Username" name="username"
                                           th:field="*{username}">
                                    <code th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Name
                                        Error</code>
                                    <code th:if="${error}">User already exist!</code>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-10 col-sm-offset-1">
                                    <input type="email" class="form-control" id="inputEmail" placeholder="Email" name="email"
                                           th:field="*{email}">
                                    <code th:if="${#fields.hasErrors('email')}" th:errors="*{email}">email Error</code>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-10 col-sm-offset-1">
                                    <input type="password" class="form-control" id="inputPassword" name="password"
                                           placeholder="Password" th:field="*{password}">
                                    <code th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Name
                                        Error</code>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-10 col-sm-offset-1">
                                    <input type="password" class="form-control" id="inputPassword2" name="password2"
                                           placeholder="Password again">
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="col-sm-10 col-sm-offset-1">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> Remember me
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-10 col-sm-offset-1">
                                    <input type="submit" class="btn btn-info" value="Sign up"/>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<div layout:fragment="content">


</div>

<div layout:fragment="footer">
    <script src="http://cdn.jsdelivr.net/jquery.validation/1.15.0/jquery.validate.min.js"
            th:src="@{/js/jquery/jquery.validate.min.js}"></script>

    <script type="text/javascript">
        $(document).ready(function(){
            $('#registerForm').validate({
                rules: {
                    username : {
                        required : true,
                        minlength : 5,
                        maxlength : 25,
                        remote : {
                            url : "/account/register/available",
                            type : "get",
                            data: {
                                username: function () {
                                    return $('#inputUsername').val();
                                }
                            }
                        }
                    },
                    email : {
                        required : true,
                        email : true
                    },
                    password : {
                        required : true,
                        minlength : 6,
                        maxlength : 25
                    },
                    password2 : {
                        required : true,
                        minlength : 6,
                        maxlength : 25,
                        equalTo : "#inputPassword"
                    }

                },
                highlight: function (element) {
                    $(element).closest('.form-group').removeClass('has-success').addClass('has-error');
                },
                unhighlight: function(element){
                    $(element).closest('.form-group').removeClass('has-error').addClass('has-success');
                },
                messages: {
                    username:{
                        remote: "Such username already exists!"
                    }
                }
            })
        });

    </script>

    <div th:if="${valid}">
        <script type="text/javascript">
            $(document).ready(function () {
                $('#sign_up').trigger('click');
            });
        </script>
    </div>

</div>

</body>
</html>